@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css);

.nuklear.carousel {
  --highlight: #333;
  --background: white;
  --offset: 2vw;
  --duration: 0.5s;
  --coverage: 60%;

  display: grid;
  align-content: center;
  justify-items: center;
  grid-template-rows: max-content max-content;

  text-align: center;

  overflow-x: hidden;
}

.carousel-container {  
  width: var(--coverage);
  aspect-ratio: 4/3;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.nuklear.carousel button.prev:hover,
.nuklear.carousel button.next:hover,
.nuklear.carousel button.prev:focus-visible,
.nuklear.carousel button.next:focus-visible {
  background: var(--background);
  box-shadow: 0 0 10px #0002;
  scale: 110%;
}

.nuklear.carousel button.prev,
.nuklear.carousel button.next {
  color: inherit;

  position: absolute;
  z-index: 1000;

  background: inherit;
  font-size: 4vw;
  border: inherit;
  border-radius: 5px;

  padding: 20px 15px;

  transition: all 0.3s ease;
}

.nuklear.carousel .prev {
  left: 0;
  translate: calc(-100% - var(--offset));
}

.nuklear.carousel .next {
  right: 0;
  translate: calc(100% + var(--offset));
}

.nuklear.carousel .content {
  display: flex;
  justify-content: center;
}

.nuklear.carousel .carousel-item {
  display: block;
  scale: 0;
  opacity: 0.3;

  position: absolute;
  translate: 0 -50%;

  width: 100%;
  height: 100%;
  border-radius: 10px;

  background-image: var(--img);
  background-size: cover;
  background-position: center;

  transition: all var(--duration) ease;
}

.nuklear.carousel .carousel-item.focus {
  scale: 1;
  opacity: 1;
  box-shadow: 0 0 10px #0003, 0 10px 20px #0001;
}

.nuklear.carousel .carousel-item.prev {
  translate: -70% -50%;
  scale: 0.5;
  opacity: 0.2;
}

.nuklear.carousel .carousel-item.next {
  translate: 70% -50%;
  scale: 0.5;
  opacity: 0.2;
}

.nuklear.carousel .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nuklear.carousel .status {
  padding-bottom: 8px;
  padding-top: 20px;
  display: flex;
  gap: 0.25rem;
}

.nuklear.carousel .status .status-item {
  display: block;
  height: 0.5rem;
  aspect-ratio: 1;
  border-radius: 1rem;
  background: #ccc;
  box-shadow: 0 0 5px #0002;

  transition: all var(--duration) ease-out;
}

.nuklear.carousel .status .status-item.focus {
  aspect-ratio: 2;
  background: var(--highlight);
}
