.circular-progress {
  --shadow: 0 0 10px #0002;
  --thickness: 12.5%;
  --target: 50;
  --percentage: var(--target);
  --color: blue;
  --center-color: white;

  aspect-ratio: 1;
  width: 100%;
  border-radius: 50%;

  /* inner shadow */
  box-shadow: inset var(--shadow);

  position: relative;
}

.circular-progress::before {
  /* center shadow */
  content: "";
  width: calc(100% - 2 * var(--thickness));
  aspect-ratio: 1;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;

  box-shadow: var(--shadow);
}

.circular-progress .bar {
  /* progress bar */
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;

  background: conic-gradient(
    var(--color) calc(var(--percentage) * 3.6deg),
    transparent calc(var(--percentage) * 3.6deg)
  );
}

.circular-progress .bar::before {
  content: "";

  display: block;
  width: var(--thickness);
  aspect-ratio: 1;
  border-radius: 50%;

  background: var(--color);

  position: absolute;
  left: 50%;
  translate: -50%;
}

.circular-progress .after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  height: 100%;

  rotate: calc(var(--percentage) * 3.6deg);
}

.circular-progress .after::after {
  content: "";

  display: block;
  height: var(--thickness);
  aspect-ratio: 1;
  border-radius: 50%;

  background: var(--color);
}

.circular-progress .center {
  width: calc(100% - 2 * var(--thickness));
  aspect-ratio: 1;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: var(--center-color);
}

.circular-progress .center::before {
  /* center cover */
  counter-reset: percentage var(--percentage);
  content: counter(percentage) "%";
}

/* Fractional */
.circular-progress.fractional {
  --numerator: 40;
  --denominator: 100;
  --percentage: calc(100 / var(--denominator) * var(--numerator));
}

.circular-progress.fractional .center::before {
  /* center cover */
  counter-set: numerator var(--numerator);
  counter-reset: denominator var(--denominator);
  content: counter(numerator) "/" counter(denominator);
}
