@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --background1: #f6f6f7;
  --background-nav: #333;

  --font-sans: Poppins, sans-serif;
}

body {
  margin: 0;
  background: var(--background1);
  font-family: var(--font-sans);
}